@import "tailwindcss";
:root {
  --bg: #f7fff9;
  --fg: #0f172a;
}

@theme inline {
  --color-background: var(--bg);
  --color-foreground: var(--fg);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: var(--font-sans), sans-serif;
  color: var(--fg);
  background: var(--bg);
}
